.header {
    border: 5px solid rgb(79, 11, 11);
    border-radius: 15px;
    margin: 15px;
    background-color: aquamarine;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    border: 5px solid rgb(174, 40, 40);
    border-radius: 8px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    height: 50px;
    font-size: 40px;
}

.container {
    display: flex ;
    justify-content: center;
    margin: 20px;
    gap: 20px;
    

    
}

.village{
    border: 8px solid rgb(12, 161, 114);
    /*margin: 20px;*/
    background-color: bisque;
    border-radius:20px;
    padding: 70px;
    width: 70vw ;
    text-align: center;
    font-weight: bold;
    font-weight: italic;
    
    
   
}
.Paddy{
    border: 8px solid rgb(12, 161, 114);
    /*margin: 10px;*/
    background-color: bisque;
    border-radius:20px;
    width: 70vw ;
    padding: 70px;
    text-align: center;
    font-weight: bold;
    
    
}

.stock{
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outstock{
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    height:40px;
    width: 100px;
    border-radius: 15px;

}

.library{
    margin: 20px;
    background-color: blueviolet;
    align-items: center;
    padding: 40px;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
    border: 8px solid rgb(39, 29, 12);
}

footer{
    margin: 20px;
    background-color: aqua;
    border-radius: 8px;
    border: 8px solid greenyellow;
    text-align: center;
    padding: 30px;
}
